body,
.typography-meta,
.comment-metadata,
.widget_recent_entries .post-date,
.widget_rss .rss-date,
.singlestroke_widget_posts .ss-date,
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time {
	font-family: "Karla";
}


h1, h2, h3, h4, h5, h6,
.primrose-sow-feature-heading {
	font-family: "Karla";
}

.typography-menu,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.nav-links,
.widget-title,
.footer-instagram-section .instagram-pics + p a,
.woocommerce span.onsale,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	font-family: "Karla";
}

.typography-title,
.typography-heading,
.comment-reply-title,
.comments-title,
.singlestroke_widget_about_me .ss-heading,
.woocommerce div.product .product_title,
.woocommerce .page-title,
.related.products h2,
.primrose-sow-counter-caption,
.primrose-sow-heading,
.primrose-sow-hero-slide-title,
.primrose-sow-masonry-grid-item-title,
.primrose-sow-woocommerce-price-box-name {
	font-family: "Karla";
}

.woocommerce ul.products li.product {
	width: 33.33%;
}
@media screen and ( max-width: 1023px ) {
	}
.woocommerce .products ul, .woocommerce ul.products {
	margin: 0 -20px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	padding: 0 20px;
}

.woocommerce .star-rating,
a {
    color: #d2bea0;
}

.header-cart-count,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #d2bea0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: #d2bea0;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce span.onsale {
    background-color: #c6dc72;
    border-color: #c6dc72;
    color: #ffffff;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:focus {
    background-color: #99c947;
    border-color: #99c947;
    color: #ffffff;
}

.header-logo {
    margin-top: 80px !important;
    margin-bottom: 20px !important;
}

/* Layout 292 */

#pg-292-0,
#pg-292-1,
#pl-292 .panel-grid-cell .so-panel {
    margin-bottom: 40px
}

#pg-292-0 .panel-grid-cell,
#pg-292-2 .panel-grid-cell {
    float: none
}

#pgc-292-1-0,
#pgc-292-1-1,
#pgc-292-1-2 {
    width: 33.333%
}

#pg-292-1 .panel-grid-cell {
    float: left
}

#pl-292 .panel-grid-cell .so-panel:last-child {
    margin-bottom: 0px
}

#pg-292-0,
#pg-292-1,
#pg-292-2 {
    margin-left: -20px;
    margin-right: -20px
}

#pg-292-0 .panel-grid-cell,
#pg-292-1 .panel-grid-cell,
#pg-292-2 .panel-grid-cell {
    padding-left: 20px;
    padding-right: 20px
}

@media (max-width:767px) {
    #pg-292-0 .panel-grid-cell,
    #pg-292-1 .panel-grid-cell,
    #pg-292-2 .panel-grid-cell {
        float: none;
        width: auto
    }
    #pgc-292-1-0,
    #pgc-292-1-1 {
        margin-bottom: 40px
    }
    #pl-292 .panel-grid {
        margin-left: 0;
        margin-right: 0
    }
    #pl-292 .panel-grid-cell {
        padding: 0
    }
}

.swiper-container {
	width:100%;
	height: 100%;
}

/* Layout 228 */

#pgc-228-0-0,
#pgc-228-0-1 {
    width: 50%
}

#pg-228-0,
#pg-228-8,
#pl-228 .panel-grid-cell .so-panel:last-child {
    margin-bottom: 0px
}

#pg-228-0 .panel-grid-cell,
#pg-228-2 .panel-grid-cell,
#pg-228-4 .panel-grid-cell,
#pg-228-6 .panel-grid-cell,
#pg-228-8 .panel-grid-cell {
    float: left
}

#pg-228-1,
#pg-228-2,
#pg-228-3,
#pg-228-4,
#pg-228-5,
#pg-228-6,
#pg-228-7,
#pl-228 .panel-grid-cell .so-panel {
    margin-bottom: 40px
}

#pg-228-1 .panel-grid-cell,
#pg-228-3 .panel-grid-cell,
#pg-228-5 .panel-grid-cell,
#pg-228-7 .panel-grid-cell {
    float: none
}

#pgc-228-2-0,
#pgc-228-2-1,
#pgc-228-2-2,
#pgc-228-4-0,
#pgc-228-4-1,
#pgc-228-4-2,
#pgc-228-6-0,
#pgc-228-6-1,
#pgc-228-6-2 {
    width: 33.333%
}

#pgc-228-8-0 {
    width: 15.034%
}

#pgc-228-8-1 {
    width: 69.996%
}

#pgc-228-8-2 {
    width: 14.97%
}

#pg-228-0 {
    margin-left: -40px;
    margin-right: -40px
}

#pg-228-0 .panel-grid-cell {
    padding-left: 40px;
    padding-right: 40px
}

#pg-228-1,
#pg-228-2,
#pg-228-3,
#pg-228-4,
#pg-228-5,
#pg-228-6,
#pg-228-7,
#pg-228-8 {
    margin-left: -20px;
    margin-right: -20px
}

#pg-228-1 .panel-grid-cell,
#pg-228-2 .panel-grid-cell,
#pg-228-3 .panel-grid-cell,
#pg-228-4 .panel-grid-cell,
#pg-228-5 .panel-grid-cell,
#pg-228-6 .panel-grid-cell,
#pg-228-7 .panel-grid-cell,
#pg-228-8 .panel-grid-cell {
    padding-left: 20px;
    padding-right: 20px
}

@media (max-width:767px) {
    #pg-228-0 .panel-grid-cell,
    #pg-228-1 .panel-grid-cell,
    #pg-228-2 .panel-grid-cell,
    #pg-228-3 .panel-grid-cell,
    #pg-228-4 .panel-grid-cell,
    #pg-228-5 .panel-grid-cell,
    #pg-228-6 .panel-grid-cell,
    #pg-228-7 .panel-grid-cell,
    #pg-228-8 .panel-grid-cell {
        float: none;
        width: auto
    }
    #pgc-228-0-0,
    #pgc-228-2-0,
    #pgc-228-2-1,
    #pgc-228-4-0,
    #pgc-228-4-1,
    #pgc-228-6-0,
    #pgc-228-6-1,
    #pgc-228-8-0,
    #pgc-228-8-1 {
        margin-bottom: 40px
    }
    #pl-228 .panel-grid {
        margin-left: 0;
        margin-right: 0
    }
    #pl-228 .panel-grid-cell {
        padding: 0
    }
}

/* Layout 167 */

#pg-167-0,
#pg-167-1,
#pg-167-2,
#pg-167-3,
#pg-167-4,
#pg-167-5,
#pg-167-6,
#pg-167-7,
#pg-167-8,
#pl-167 .panel-grid-cell .so-panel:last-child {
    margin-bottom: 0px
}

#pg-167-0 .panel-grid-cell,
#pg-167-5 .panel-grid-cell,
#pg-167-8 .panel-grid-cell {
    float: none
}

#pgc-167-1-0,
#pgc-167-1-1,
#pgc-167-2-0,
#pgc-167-2-1,
#pgc-167-3-0,
#pgc-167-3-1,
#pgc-167-4-0,
#pgc-167-4-1 {
    width: 50%
}

#pg-167-1 .panel-grid-cell,
#pg-167-2 .panel-grid-cell,
#pg-167-3 .panel-grid-cell,
#pg-167-4 .panel-grid-cell,
#pg-167-6 .panel-grid-cell,
#pg-167-7 .panel-grid-cell {
    float: left
}

#pgc-167-6-0,
#pgc-167-6-1,
#pgc-167-6-2,
#pgc-167-6-3 {
    width: 25%
}

#pgc-167-7-0,
#pgc-167-7-1,
#pgc-167-7-2 {
    width: 33.333%
}

#pl-167 .panel-grid-cell .so-panel {
    margin-bottom: 40px
}

#pg-167-0,
#pg-167-1,
#pg-167-2,
#pg-167-3,
#pg-167-4,
#pg-167-5,
#pg-167-6,
#pg-167-7,
#pg-167-8 {
    margin-left: -20px;
    margin-right: -20px
}

#pg-167-0 .panel-grid-cell,
#pg-167-1 .panel-grid-cell,
#pg-167-2 .panel-grid-cell,
#pg-167-3 .panel-grid-cell,
#pg-167-4 .panel-grid-cell,
#pg-167-5 .panel-grid-cell,
#pg-167-6 .panel-grid-cell,
#pg-167-7 .panel-grid-cell,
#pg-167-8 .panel-grid-cell {
    padding-left: 20px;
    padding-right: 20px
}

@media (max-width:767px) {
    #pg-167-0 .panel-grid-cell,
    #pg-167-1 .panel-grid-cell,
    #pg-167-2 .panel-grid-cell,
    #pg-167-3 .panel-grid-cell,
    #pg-167-4 .panel-grid-cell,
    #pg-167-5 .panel-grid-cell,
    #pg-167-6 .panel-grid-cell,
    #pg-167-7 .panel-grid-cell,
    #pg-167-8 .panel-grid-cell {
        float: none;
        width: auto
    }
    #pgc-167-1-0,
    #pgc-167-2-0,
    #pgc-167-3-0,
    #pgc-167-4-0,
    #pgc-167-6-0,
    #pgc-167-6-1,
    #pgc-167-6-2,
    #pgc-167-7-0,
    #pgc-167-7-1 {
        margin-bottom: 40px
    }
    #pl-167 .panel-grid {
        margin-left: 0;
        margin-right: 0
    }
    #pl-167 .panel-grid-cell {
        padding: 0
    }
}


/* Layout w56b9738311906 */

#pgc-w56b9738311906-0-0,
#pgc-w56b9738311906-0-1,
#pgc-w56b9738311906-0-2 {
    width: 33.333%
}

#pg-w56b9738311906-0 .panel-grid-cell {
    float: left
}

#pl-w56b9738311906 .panel-grid-cell .so-panel {
    margin-bottom: 40px
}

#pl-w56b9738311906 .panel-grid-cell .so-panel:last-child {
    margin-bottom: 0px
}

#pg-w56b9738311906-0 {
    margin-left: -20px;
    margin-right: -20px
}

#pg-w56b9738311906-0 .panel-grid-cell {
    padding-left: 20px;
    padding-right: 20px
}

@media (max-width:767px) {
    #pg-w56b9738311906-0 .panel-grid-cell {
        float: none;
        width: auto
    }
    #pgc-w56b9738311906-0-0,
    #pgc-w56b9738311906-0-1 {
        margin-bottom: 40px
    }
    #pl-w56b9738311906 .panel-grid {
        margin-left: 0;
        margin-right: 0
    }
    #pl-w56b9738311906 .panel-grid-cell {
        padding: 0
    }
}
